[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/puruckertom/templates_qed.git
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/puruckertom/static_qed.git
